* {
  margin: 0;
  padding: 0;
}

html  {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 300px;
  top: 300px;
}

.player > .cube {
  width: 100%;
  height: 100%;
  background-color: indianred;
}

.player#player > .cube {
  background-color: lightskyblue;
}

.player > span {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  top: -20px;
  font-family: "SF Pro", arial, serif;
}
