* {
  margin: 0;
  padding: 0;
}

html  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro", arial, serif;

  --main-color: lightskyblue;
  --secondary-color: indianred;
}


/* Login page */
#login {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#login > h2,
#username-input {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
}

#username-form {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

#username-input {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--main-color);
}

#error-message {
  margin-top: 32px;
  color: var(--secondary-color);
  text-align: center;
}


/* Game page */
#background-grid {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, .2) 2px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, .2) 2px, transparent 1px);
  background-size: 64px 64px;
  overflow: hidden;
}

#players > .player {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: -1;
}

#players > .player#player {
  z-index: 0;
}

#players > .player > .cube {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}

#players > .player#player > .cube {
  background-color: var(--main-color);
}

#players > .player > span {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  top: -20px;
}

#chat {
  width: 300px;
  padding: 16px;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 0 10px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#chat-messages {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chat-messages > .message > span.username {
  font-weight: bold;
  color: var(--secondary-color);
}

#chat-messages > .message.self > span.username {
  color: var(--main-color);
}

#chat-input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  border-bottom: black solid 2px;
}

#game-info {
  position: absolute;
  top: 16px;
  left: 16px;
}
